{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card-body">
          <h3 class="card-title">コメント一覧</h3>

          {% if comments %}
              {% for c in comments %}
                <p class="card-text">{{ c.text }}</p>
                <small class="text-muted">by {{ c.commented_by.username }} さん {{ c.commented_at|date:"DATETIME_FORMAT" }}</small>
              {% endfor %}
          {% else %}
              <p class="card-text">コメントはまだありません。</p>
              <p>commentsっていうDjangoORMを渡す処理はまだ書いていないでしょ?<br>上のテンプレートタグは実装を待ってるぞ</p>
          {% endif %}
        </div>
        <div class="card mt-4">
          <div class="card-body">
            <h4 class="card-title mb-4">コメントを投稿する</h4>
            {% if form %}
              <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                  {{ form.comment }}
                </div>
                <button type="submit" class="btn btn-primary">投稿</button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}


{% comment %} {% extends "base.html" %} {% endcomment %}
{% comment %} {% load django_bootstrap5 %} {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %} {% block main %} {% endcomment %}
  {% comment %} <div class="card-body"> {% endcomment %}
    {% comment %} <h4 class="card-title mb-1">コメントを投稿する</h4> {% endcomment %}
    {% comment %} {% if form %} {% endcomment %}
    {% comment %} <form method="post"> {% endcomment %}
        {% comment %} {% csrf_token %} {% endcomment %}
        {% comment %} {{ form.as_p }} {% endcomment %}
        {% comment %} <button type="submit" class="btn btn-primary">投稿</button> {% endcomment %}
    {% comment %} </form> {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
  {% comment %} </div> {% endcomment %}
{% comment %} {% endblock main %} {% endcomment %}
{% comment %}  {% endcomment %}