{% extends 'base.html' %}

{% block main %}
  <h2>投稿表示画面(コメント投稿画面)</h2>
  <div>
    <div>
      <h3>タイトル:{{ topic.title }}</h3>
      <small>投稿日:{{ topic.created_at }}</small>
      <small>投稿者:{{ topic.created_by }}</small>
    </div>
    <div>
      <p>{{ topic.description }}</p>
    </div>
    <div>
      <form action="" method="POST">
        {% csrf_token %}
        <small>♡{{ topic.like_count }}</small><br />
        <small>💭<!-- ここにコメントの数とか入れれたらいいよね --></small>
      </form>
    </div>
  </div>
  <div>
    {% for comment in comments %}
      <div>
        <div>
          <h5>名前:{{ comment.created_by }}</h5>
        </div>
        <div>
          <p>コメント:{{ comment.comment }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div>
    <form action="" method="POST">
      {% csrf_token %}
      <div>
        <input type="text" name="comment" />
      </div>
      <button type="submit">コメントを投稿</button>
    </form>
  </div>
{% endblock %}
