{% extends 'base.html' %}

{% block main %}
  <h2>投稿画面</h2>

  <div>
    <div>
      <!-- 戻るボタン -->
      <h3>投稿する</h3>
      <button type="button" onclick="history.back()">戻る</button>
    </div>
    <div>
      <form action="" method="POST">
        {% csrf_token %}
        <div>
          <label for="title">タイトル</label>
          <input type="text" name="title" />
        </div>
        <div>
          <label for="description">投稿内容</label>
          <input type="text" name="description" />
          {% comment %}文字カウントは動的だからjavascript等フロントで管理したほうが早いと思う{% endcomment %}
        </div>
        <button type="submit" name="button_submit_topic">☞投稿する</button>
      </form>
    </div>
  </div>
{% endblock %}
