{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title display-4">
                        タイトル:<br>
                        <p class="display-6">
                            {{ topic.title }}
                        </p>
                    </h2>
                    <p class="card-text lead">
                        概要: {{ topic.description }}
                    </p>
                    <small class="text-muted">投稿日: {{ topic.created_at|date:"DATETIME_FORMAT" }}</small>
                    <small class="text-muted">投稿者: {{ topic.created_by.username }}</small>
                    {% if user.is_authenticated and topic.created_by_id == user.id %}
                        <a href="{% url 'topics:topic_edit' topic.id %}" class="btn btn-primary mt-3">編集</a>
                    {% endif %}
                </div>
            </div>

            <hr>

            <div class="card-body">
                <h3 class="card-title">コメント一覧</h3>

                {% if comments %}
                    {% for c in comments %}
                        <hr>
                        <p class="card-text">{{ c.text }}</p>
                        <small class="text-muted">by {{ c.commented_by.username }} さん {{ c.commented_at|date:"DATETIME_FORMAT" }}</small>
                    {% endfor %}
                {% else %}
                    <p class="card-text">コメントはありません。</p>
                {% endif %}
            </div>
            <div>
                {% if user.is_authenticated %}
                    <a href="{% url 'topics:comment_new' topic.id %}" class="btn btn-primary mt-3">投稿</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
