{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block main %}
  <div class="container mt-5">
    <h1 class="mb-4">This is home page.</h1>
    <a href="{% url 'create_topic' %}" class="btn btn-primary mb-3">投稿する</a>
    <div class="card">
      <div class="card-header">
        <h3>Topic List</h3>
      </div>
      <div class="card-body">
        {% if topics %}
          <ul class="list-group">
            {% for topic in topics %}
              <li class="list-group-item">
                <a href="{% url 'detail_topic' topic_id=topic.id %}">{{ topic.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="text-center">No topics yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

