{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block main %}
  <div>
    <h1>This is home page.</h1>
    <a href="{% url 'create_topic' %}" class="btn btn-primary">投稿する</a>
    <div>
      <div>
        <h3>Topic List</h3>
      </div>
      <div>
        {% if topics %}
          <ul>
            {% for topic in topics %}
              <li>
                <a href="{% url 'detail_topic' topic_id=topic.id %}">{{ topic.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No topics yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
