{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<div class="welcome">
    <h1 class="title">Civic Seek</h1>
    <p class="subtitle">あなたの悩みを共有しましょう</p>
    {% comment %} ユーザーがログイン状態にあるならば、課題登録ボタンを表示する {% endcomment %}
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'topics:topic_new' %}">課題を投稿する</a>
    {% endif %}
</div>


{% if topics %}
<table class="table">
    <thead>
    <tr>
        <th>投稿者</th>
        <th>投稿日</th>
        <th>タイトル</th>
    </tr>
    </thead>
    <tbody>
    {% for topic in topics %}
    <tr>
        <th>{{ topic.created_by_id.username }}</th>
        <th>{{ topic.created_at }}</th>
        <th><a href="{% url 'topics:topic_detail' topic.id %}">{{ topic.title }}</a></th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>課題はまだ投稿されていません。</p>
{% endif %}

{% endblock main %}