{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>CivicSeek</title>
    {% bootstrap_css %}
    {% block extraheader %}

    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand">CivicSeek</a>
        {% comment %} <ul class="navbar-nav ml-auto">
          {% endcomment %}
          {% comment %} {% if user.is_authenticated %}
            {% endcomment %}
            {% comment %} <li class="nav-item">
              {% endcomment %}
              {% comment %} <a class="nav-link" href="{% url 'accounts:logout' %}">ログアウト</a> {% endcomment %}
              {% comment %}
            </li> {% endcomment %}
            {% comment %}
          {% else %}
            {% endcomment %}
            {% comment %} <li class="nav-item">
              {% endcomment %}
              {% comment %} <a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a> {% endcomment %}
              {% comment %}
            </li> {% endcomment %}
            {% comment %} <li class="nav-item">
              {% endcomment %}
              {% comment %} <a class="nav-link" href="{% url 'accounts:signup' %}">アカウント登録</a> {% endcomment %}
              {% comment %}
            </li> {% endcomment %}
            {% comment %}
          {% endif %} {% endcomment %}
          {% comment %}
        </ul> {% endcomment %}
      </div>
    </nav>
    <main>
      <div class="container mt-4">
        {% bootstrap_messages %}
        {% block main %}

        {% endblock %}
      </div>
    </main>
    {% bootstrap_javascript %}
  </body>
</html>
