{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>CivicSeek</title>
    {% bootstrap_css %}
    {% block extraheader %}

    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand">CivicSeek</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link text-primary">HOME</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'accounts:logout' %}" class="nav-link">ログアウト</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="{% url 'accounts:login' %}" class="nav-link">ログイン</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'accounts:signup' %}" class="nav-link">サインアップ</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <main>
      <div class="container mt-4">
        {% bootstrap_messages %}
        {% block main %}

        {% endblock %}
      </div>
    </main>
    <footer>
      {% block extrafooter %}{% endblock extrafooter %}
    </footer>
    {% bootstrap_javascript %}
  </body>
</html>
